[Unit]
Description=A service that will take photos at various solar times
Wants=network-online.target
After=multi-user.target network-online.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python /home/pi/dev/python/solar-times/solar-times.py
[Install]
WantedBy=multi-user.target
